# https://rasa.com/docs/rasa/model-configuration/
# https://rasa.com/docs/rasa/nlu/components/
# https://rasa.com/docs/rasa/tuning-your-model
# https://rasa.com/docs/rasa/core/policies/
# https://rasa.com/docs/rasa/policies

recipe: default.v1
assistant_id: restaurant_bot
language: en

pipeline:
- name: WhitespaceTokenizer
- name: RegexFeaturizer
  case_sensitive: False
- name: LexicalSyntacticFeaturizer
- name: CountVectorsFeaturizer
- name: CountVectorsFeaturizer
  analyzer: char_wb
  min_ngram: 1
  max_ngram: 4
- name: DIETClassifier
  epochs: 100
- name: EntitySynonymMapper
- name: ResponseSelector
  retrieval_intent: out_of_scope
  scale_loss: false
  epochs: 100
- name: ResponseSelector
  retrieval_intent: faq
  scale_loss: false
  epochs: 100
- name: ResponseSelector
  retrieval_intent: chitchat
  scale_loss: false
  epochs: 100
- name: FallbackClassifier
  threshold: 0.7
  ambiguity_threshold: 0.1

policies:
- name: RulePolicy
  # core_fallback_threshold: 0.3
  # core_fallback_action_name: action_default_fallback
  # enable_fallback_prediction: true
  # check_for_contradictions: true
  # max_history: 6
- name: AugmentedMemoizationPolicy
- name: TEDPolicy
  constrain_similarities: true
  max_history: 10
  epochs: 20
  batch_size:
  - 32
  - 64